/* big visual */

.bigvisual {
  width: 100%;
  min-width: 1200px;
  height: 850px;
  position: relative;
}

.bigvisual__btn-box {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1200px;
  height: 850px;
  margin-left: -600px;
  z-index: 9999;
}

.bigvisual .swiper-slide div {
  height: 850px;
  color: #fff;
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  padding-top: 350px;
  line-height: 80px;
}

.bigvisual .swiper-slide div span {
  font-size: 40px;
  color: #fff;
}

.bigvisual .swiper-slide:first-child {
  background: url(src/images/bic_visual_01.png) no-repeat center center;
}

.bigvisual .swiper-slide:nth-child(2) {
  background: url(src/images/bic_visual_02.png) no-repeat center center;
}

.bigvisual .swiper-slide:last-child {
  background: url(src/images/bic_visual_03.png) no-repeat center center;
}

/* section_01: event */

.second .swiper-slide:first-child {
  background: url(src/images/event_img_01.png) no-repeat center center;
}

.second .swiper-slide:nth-child(2) {
  background: url(src/images/event_img_02.png) no-repeat center center;
}

.second .swiper-slide:nth-child(3) {
  background: url(src/images/event_img_03.png) no-repeat center center;
}

.second .swiper-slide:nth-child(4) {
  background: url(src/images/event_img_04.png) no-repeat center center;
}

.second .swiper-slide:last-child {
  background: url(src/images/event_img_05.png) no-repeat center center;
}

.event {
  position: relative;
}

.event::before {
  content: "";
  background: url(src/images/event_bg.png) no-repeat center center;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  min-width: 1200px;
  height: 323px;
  z-index: -1;
  opacity: 0.1;
}

.second {
  float: left;
  width: 500px;
  height: 530px;
}

.event__content-box {
  float: right;
  width: 610px;
  padding-top: 90px;
}

.event__content-box > .tit,
.event__content-box > .desc {
  text-align: start;
}

.event__sentence {
  margin-top: 70px;
  font-size: 25px;
  line-height: 40px;
  color: #444;
}

.event__reserve {
  margin-top: 120px;
}

.event__reserve ul {
  float: left;
  width: 300px;
  text-align: end;
  font-size: 15px;
  line-height: 25px;
  color: #666;
  margin-left: 180px;
}

.event__reserve a {
  float: left;
  display: block;
  width: 120px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  color: #f9efbd;
  text-align: center;
  background-color: var(--point-color);
  margin-top: 5px;
  margin-left: 10px;
}

/* section_02: event */

.program {
  text-align: center;
}

.program__list-box > li {
  float: left;
  width: 370px;
  height: 630px;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: 15px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.program__list-box > li:hover {
  box-shadow: var(--main-shadow);
}

.program__list-box > li:first-child {
  background-image: url(src/images/program_img_01.png);
}

.program__list-box > li:nth-child(2) {
  background-image: url(src/images/program_img_02.png);
}

.program__list-box > li:last-child {
  background-image: url(src/images/program_img_03.png);
}

.program__list-box > li + li {
  margin-left: 45px;
}

.program__list-box h4 {
  padding-top: 390px;
  font-size: 20px;
}

.program__list-box ul {
  padding-top: 20px;
  height: 90px;
}

.program__list-box ul > li {
  color: #888;
  font-size: 14px;
}

.program__list-box ul > li + li {
  padding-top: 10px;
}

.program__list-box ul > li:nth-child(3) {
  text-indent: 50px;
}

.program__recruit {
  padding-top: 10px;
  width: 340px;
  margin: 0 auto;
}

.program__recruit > p,
.program__recruit > a {
  float: left;
  width: 170px;
  height: 80px;
  text-align: center;
  text-indent: 0;
  line-height: 80px;
}

.program__recruit > p {
  background-color: #fdfaeb;
}

.program__list-box > li:first-child a {
  background-color: #df837c;
  color: #fff;
}

.program__list-box > li:nth-child(2) a,
.program__list-box > li:last-child a {
  background-color: #b4a994;
}

/* section_03: publication */

.publication {
  position: relative;
}

.publication .inner > div {
  float: left;
  text-align: end;
  margin: 400px 100px 0 50px;
}

.publication .inner a {
  float: left;
  text-align: end;
  margin: 160px 0 0 355px;
  color: var(--point-color);
}

.publication i {
  color: var(--point-color);
}

.publication img {
  float: right;
  box-shadow: var(--main-shadow);
  margin-right: 50px;
}

.publication::before {
  content: "";
  background: url(src/images/publication_bg.png) no-repeat center center;
  position: absolute;
  left: 250px;
  bottom: 50px;
  width: 400px;
  height: 400px;
  transform: scale(0.65);
  z-index: -1;
}

/* section_04: the best post */

.best-post__sns-list > li {
  float: left;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.best-post__sns-list > li + li {
  margin-left: 30px;
}

.best-post__sns-list > li img {
  border-radius: 50px;
}

.sns {
  position: absolute;
  left: 25px;
  top: 15px;
  font-size: 20px;
}

.best-post__sns-list i,
.best-post__sns-list a {
  transition: all 0.3s ease-in-out;
}

.best-post__sns-list > li:hover {
  transform: scale(1.03);
}

.best-post__sns-list > li:hover > .sns i,
.best-post__sns-list > li:hover > .sns a {
  color: var(--point-color);
}

/* section_05: notice */

.notice__list-box > li {
  float: left;
  transition: all 0.3s ease-in-out;
}

.notice__list-box > li:first-child {
  width: 628px;
  height: 228px;
  padding: 35px;
  border: 1px solid #aaa;
}

.notice__list-box div {
  float: right;
}

.notice__list-box div em {
  margin-right: 97px;
}

.notice__list-box div p {
  margin-bottom: 85px;
}

.notice__list-box > li:nth-child(2),
.notice__list-box > li:last-child {
  margin-left: 20px;
  width: 408px;
  height: 68px;
  border: 1px solid #aaa;
  padding: 35px;
  font-size: 16px;
}

.notice__list-box > li:last-child {
  margin-top: 20px;
}

.notice__list-box em {
  font-weight: 600;
  font-size: 20px;
  display: block;
  margin-bottom: 32px;
  color: var(--main-color);
}

.notice__list-box p {
  font-size: 14px;
  line-height: 25px;
}

.notice__list-box span {
  font-size: 10px;
  float: left;
  color: #666;
}

.notice__list-box a {
  font-size: 10px;
  float: right;
  color: var(--point-color);
}

.notice__list-box i {
  color: var(--point-color);
}

.notice__list-box > li:hover {
  box-shadow: var(--main-shadow);
  border: 1px solid var(--point-color);
}
