/* sub-page bigvisual */

.sub-bigvisual {
  width: 100%;
  min-width: 1200px;
  height: 481px;
  background-repeat: no-repeat;
  background-position: center center;
}

.sub-bigvisual p {
  z-index: 999;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  padding-top: 265px;
}

/* sub-page title */

.sub-title {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}