:root {
  --main-color: #222;
  --sub-color: #444;
  --point-color: rgb(148, 132, 103);
  --main-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  --footer-main-color: #888;
  --footer-sub-color: #666;
}
